body{
    background-color: rgb(95, 236, 154);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h3{
    text-align: center;
    font-weight: bold;
}
.rishabh{
	color: rgb(64,0,128);
	font-weight: bold;
	font-size: 24px;
	word-spacing: 0.1em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#copyright{
	color: rgb(0,0,164);
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon{
	font-size: 27px;
	word-spacing: 0.2em;
}
/* reset our lists to remove bullet points and padding */
.list{
	padding:0px;
	margin:0px;
	}
	
	.mainmenu, .submenu {
	list-style: none;
	padding: 0;
	margin: 0;
	}
	
	/* make ALL links (main and submenu) have padding and background color */
	.mainmenu a {
	font-size: 18px;
	text-align: center;
	display:block;
	background-color: rgb(63, 21, 214);
	text-decoration: none;
	padding: 10px;
	color: rgb(248, 247, 247);
	}
	
	
	.mainmenu a:hover {
		background-color: yellowgreen;
	}
	
	
	.mainmenu li:hover .submenu {
	max-height: 200px;
	}
	
	
	.submenu a {
	  background-color: darkcyan;
	  transition: all .2s ease-in-out;
	}
	
	.submenu a:hover {
	  background-color:rgb(196, 33, 4);
	  transform: scale(1.1);
	  font-size:18px;
	}
	
	.submenu {
	  overflow: hidden;
	  max-height: 0;
	}
	
	.icon-bar{
		float: both;
		word-spacing: 0.7em;
		text-align: center;
	}
	.list-unstyled{
		font-size: 18px;
		font-family: Cambria,Georgia,Arial,sans-sarif;
	}
	a{
		color: rgb(26, 24, 24);
		text-decoration:none;
	}
	a:hover{
		color: blue;
		text-decoration: none;
	}
	